body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  background-image: url("images/background.jpg");
  background-size:cover;
}
* {box-sizing: border-box;}

.distributeBtn {
  background:#ccc;
  padding: 15px 30px 15px 30px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 16px;
  font-weight: bold;
}

.distributeBtn:hover {
  opacity: 1.0;
  background-color: #4CAF50; /* Green */
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.distributeButtonContainer {
  display: block;
  position: fixed;
  top: 62.5%;
  left: 40%;
}

.biddingFormContainer {
  border-radius: 10px;
  display: none;
  position: fixed;
  bottom: 22.5px;
  left: 5%;
  background: #ccc;
  color: black;
  padding: 5px 10px 5px 10px;
  width: 10%;
  border: 3px solid black;
}

.partnerFormContainer {
  border-radius: 10px;
  display: none;
  position: fixed;
  bottom: 42.5%;
  right: 42.5%;
  background: white;
  border: 3px solid black;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bidTableContainer {
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  border: 3px solid black;
}

.bidTableHeader {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

table {
  color: black;
  padding: 10px;
}

thead {
  font-weight: bold;
}

td {
  font-size: 15px;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  color: black;
}

.partnerBtn {
  border-radius: 5px;
  background-color: #4CAF50;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom:10px;
  margin-left: 5%;
  opacity: 0.8;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 16px;
  font-weight: bold;
}

.partnerBtn:hover {
  opacity: 1;
  background-color: #4CAF50; /* Green */
  color: white;
}

.gameButtonContainer {
  border-radius: 10px;
  display: none;
  position: fixed;
  bottom: 27.5px;
  right: 6%;
  background: #ccc;
  color: black;
  padding: 5px 10px 5px 10px;
  width: 10%;
  border: 3px solid black;
}

.playButton {
  border-radius: 5px;
  background-color:whitesmoke;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom:10px;
  margin-left: 5%;
  opacity: 0.8;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.playButton:hover {
  opacity: 1;
  background-color: #4CAF50; /* Green */
  color: white;
}

.gameButtonContainerS {
  border-radius: 10px;
  display: none;
  position: fixed;
  bottom: 10%;
  right: 6%;
  background: #ccc;
  color: black;
  padding: 5px 10px 5px 10px;
  width: 10%;
  border: 3px solid black;
}

.autoBidButton {
  border-radius: 5px;
  background-color:whitesmoke;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom:10px;
  margin-left: 5%;
  opacity: 0.8;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.autoBidButton:hover {
  opacity: 1;
  background-color: #4CAF50; /* Green */
  color: white;
}

.gameButtonContainerSP {
  border-radius: 10px;
  display: none;
  position: fixed;
  bottom: 7%;
  right: 6%;
  background: #ccc;
  color: black;
  padding: 5px 10px 5px 10px;
  width: 10%;
  border: 3px solid black;
}

.autoPlayButton {
  border-radius: 5px;
  background-color:whitesmoke;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom:10px;
  margin-left: 5%;
  opacity: 0.8;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.autoPlayButton:hover {
  opacity: 1;
  background-color: #4CAF50; /* Green */
  color: white;
}